<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/add?id=123&age=444&addressForm.city=plppl&addressForm.street=idjhf">
    <input type="text" name="firstName"><br/>
    <input type="text" name="lastName"><br/>
    <input type="date" name="birthDate"><br/>
    <input type="text" name="addressForm.city"><br>
    <input type="text" name="addressForm.street"><br>
    <input type="submit" value="send"><br/>
</form>
</body>
</html>